.available{
   border: 1px green solid;
   background-color: green;
   color: white;
   padding: 6px;
   border-radius: 5px;
}
.unavailable{
    border: 1px red solid;
    background-color: red;
    color: white;
    padding: 6px;
    border-radius: 5px;
 }
 .all_btn{
   padding:8px; 
   background-color: rgb(21, 136, 178); 
   color:white;
   cursor: pointer;
 }
 .in_stock_btn{
   margin-left: 140px;
   margin-top: 60px; 
    padding:8px; 
    background-color:rgb(21, 136, 178); 
    color:white;
    cursor: pointer;
 }